.hidden {
  display: none;
}

.main {
  .album-cover {
    display: block;
    width: 500px;
    max-width: 100%;
    height: auto;
    margin: 40px auto;
    text-align: center;

    .album-combo {
      position: relative;

      img {
        width: 80%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }


  }

  .soundcloud {
    height: 166px;
    overflow: hidden;

    iframe {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .player {
    text-align: center;
    color: rgba(107, 139, 163, 1);

    button {
      border: none;
      background-color: transparent;
      cursor: auto;

      &:focus {
        outline: none;
      }

      img {
        height: 4em;
      }
    }

    .play-pause {
      display: inline-block;
      width: 60px;
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }

  .social-media {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 5em;
    color: #fff;
    width: 500px;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 1px solid #666;


    i {
      color: rgba(107, 139, 163, 1);
      transition: all .2s ease-in-out;
      &:hover {
        color: white;
      }
    }

    img.bandcamp {
      padding-top: 24px;
    }
  }
}

.attribution {
  text-align: center;
  color: rgba(107, 139, 163, 1);
  h6 {
    margin: 1em 0;
  }
  a {
    color: #fff;
  }
}

/*@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: blur(5px) saturate(50%);
  }

  50% {
    -webkit-filter: blur(30px) saturate(120%);
  }

  100% {
    -webkit-filter: blur(5px) saturate(50%);
  }
}

@-webkit-keyframes filter-animation-in {
  0% {
    -webkit-filter: blur(5px);
  }

  50% {
    -webkit-filter: blur(30px);
  }

  100% {
    -webkit-filter: blur(5px);
  }
}*/
