.hidden {
  display: none;
}

body {
  font-size: 12px;

  @media only screen and (max-width: 480px) {
    font-size: 8px;
  }
}
.main {
  .album-cover {
    display: block;
    width: 500px;
    max-width: 100%;
    height: auto;
    margin: 40px auto;
    text-align: center;

    .album-combo {
      position: relative;

      img {
        width: 75%;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
      }
    }


  }

  .order, .order a {
    text-align: center;
    color: rgba(107, 139, 163, 1);
  }

  .player {
    text-align: center;
    color: rgba(107, 139, 163, 1);

    .single-only {
      padding-bottom: 10px;
    }

    button {
      border: none;
      background-color: transparent;
      cursor: auto;
      padding: 0 15px;

      &:focus {
        outline: none;
      }

      img {
        height: 4em;

        @media only screen and (max-width: 480px) {
          height: 3em;
        }
      }
    }

    .track-name {
      color: #ddd;
    }
  }

  .social-media {
    //text-align: center;
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-width: 500px;
    font-size: 5em;
    color: #fff;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 1px solid #666;


    i {
      color: rgba(107, 139, 163, 1);
      transition: all .2s ease-in-out;
      &:hover {
        color: white;
      }
    }

    img.bandcamp {
      margin-top: 0.35em;
      height: 1em;
    }
  }
}

.attribution {
  text-align: center;
  color: rgba(107, 139, 163, 1);
  h6 {
    margin: 1em 0;
    font-size: 8px;
  }
  a {
    color: #fff;
  }
}
