.main {
  &::before {
    content:"";
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;

    display: block;
    background-image: url("../img/cover-notext.jpg");
    background-size: cover;

    filter: blur(20px);
    -webkit-filter: blur(20px);
    -ms-filter: blur(20px);
  }

  img {
    display: block;
    width: 500px;
    max-width: 100%;
    height: auto;
    margin: 40px auto;
  }

  .soundcloud {
    height: 166px;
    overflow: hidden;

    iframe {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .social-media {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 5em;
    color: #fff;
    width: 500px;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 1px solid #666;
    

    i {
      color: rgba(107, 139, 163, 1);
      transition: all .2s ease-in-out;
      &:hover {
        color: white;
      }
    }
  }

}
